<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Route Similarity</title>
</head>

<body>
    Route Similarity
    <br>
    <form action="/get-similarity" method="POST">

        <input type="text" name="route1" id="r1">
        <input type="text" name="route2" id="r2">
        <input type="submit" value="check_similarity">

    </form>

    <br>
    {% if similarity_score %}
    Similarity Score: {{ similarity_score.similarity_score }} <br>
    {% endif %}

</body>

</html>